node_modules/
dist/
.env
.venv/
venv/
__pycache__/
.pytest_cache/
*.py[cod]
*.tsbuildinfo
server/prisma/dev.db
server/prisma/dev.db-journal
web/dist/

# IDE 설정
.idea/
.vscode/

# 임시 파일 보관함 (수동 삭제용)
_to_delete/
